body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1 {
      text-align: center;
  }
  #game-statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blue; */
  }
  
  .game-stat {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .modal-class {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
     
     #game-board {
       width: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;
     }
  
     #game-dialog {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: #787c7f 2px solid;
      font-size: 0.9rem;
      padding: 1rem;
      margin: 0.5rem;
      justify-content: center;
     }

     
     .card {
       border-radius: 3px;
       margin: 2px;
       font-size: 1.2em; /* 1.5rem; */
       color: #fff;
       font-weight: 700;
       height: 7rem;
       width: 7rem;
       display: flex;
       justify-content: center;
       align-items: center;
       text-transform: uppercase;
     }
  
     .card-inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }
  
    .flipCard {
      transform: rotateY(180deg);
    }

    .card-text {
      padding:10px;
    }
    
    .card-front, .card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .card-front {
      background-color: #787c7f	;
    }
    /* #6ca965 */
    .card-back {
      background-color: #c8b653; 
      transform: rotateY(180deg);
    }
     
     .filled-box {
       border: 2px solid black;
     }
     
     .letter-row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;
     }
     
     #keyboard-cont {
       margin: 1rem 0;
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     
     #keyboard-cont div {
       display: flex;
     }
     
     .second-row {
       margin: 0.5rem 0;
     }
     
     .keyboard-button {
       font-size: 1rem;
       font-weight: 700;
       padding: 0.5rem;
       margin: 0 2px;
       cursor: pointer;
       text-transform: uppercase;
     }